
<ion-content [fullscreen]="true" class="background-opts"  [ngStyle]="background">
	<ion-header class="ion-no-border">
	<ion-toolbar>
	  <ion-title>
		Drone Escort
	  </ion-title>
	  <ion-buttons slot="start" class="ion-padding-start">
		<ion-avatar>
		  <img src="/assets/images/uss_drone.jpg" />
		</ion-avatar>
	  </ion-buttons>

	</ion-toolbar>
  </ion-header>
  
  <ion-grid class="ion-padding-vertical">
	<ion-row class="ion-padding-vertical">
		<ion-col class="ion-padding-vertical">
	<amplify-authenticator [hideSignUp]="false" class="background-opts">
		<ng-template
		  amplifySlot="authenticated"
		  let-user="user"
		  let-signOut="signOut"
		>
		  <button (click)="signOut()">Sign Out</button>
		</ng-template>
	  </amplify-authenticator>
	  </ion-col></ion-row></ion-grid>
</ion-content>
