
  ion-title {
    font-weight: bolder;
    font-style: italic;
  }
  
  ion-content {
    --background: url("../../../assets/images/Campus-Safety.jpg") center / 30%;
    --background-position: center center;
  }

  