
  ion-title {
    font-weight: bolder;
    font-style: italic;
  }
  
  ion-img::part(image) {
    width: 50%; /* or whatever value */
    /* you can set the height value too */
    align-items: right;
  }