
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToBack()">
        <ion-icon slot="start" name="chevron-back" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="userOther" href="tel:{{userOther.phone}}">
        <ion-icon slot="start" name="call-outline" color="dark"></ion-icon>
      </ion-button>
      <!-- <ion-button (click)="goToVideoCall()">
        <ion-icon slot="start" name="videocam-outline" color="dark"></ion-icon>
      </ion-button> -->
      <ion-button (click)="goToCancel()">
        <ion-icon slot="start" name="exit-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{chatName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-modal [isOpen]="isDroneModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Assign Drone</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setDroneOpenModal(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-radio-group value="dronelist">
          <ion-item *ngFor="let drone of drones">
            <ion-radio value="{{drone.id}}" (click)="setDrone(drone.id, drone.name)">{{drone.name}}</ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isAttachModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="setAttachOpenModal(false)">Close</ion-button>
          </ion-buttons>
          <ion-title>Attachment Type</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setAttachOpenModal(false)">OK</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-radio-group value="attachlist">
          <ion-item>
            <ion-radio value="galleryAttach" (click)="goToAttachGallery">Camera</ion-radio>
          </ion-item>
          <ion-item>
            <ion-radio value="photoAttach" (click)="goToAttachPhoto">Photo Gallery</ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-content>
    </ng-template>
  </ion-modal>

  <div class="main-content" #content>
    <div class="lower_div" *ngFor="let msg of messages">
      <div class="left" *ngIf="msg.sender && msg.sender != userMe.id">
        <div class="content">
          <ion-avatar *ngIf="userOtherPhoto">
            <ion-img src="{{userOtherPhoto}}"/>
          </ion-avatar>
          <div class="msg_div">
            <div *ngIf="msg.content.length < 25" class="msg" style="white-space: nowrap">
              {{msg.content}}
            </div>
            <div *ngIf="msg.content.length >= 25" class="msg">
              {{msg.content}}
            </div>
            <ion-label class="time">{{ msg.createdAt | shortenDate }}</ion-label>
          </div>
        </div>
      </div>

      <div class="right" *ngIf="msg.sender && msg.sender == userMe.id">
        <div class="content">
          <div class="msg_div">
            <div *ngIf="msg.content.length < 25" class="msg" style="white-space: nowrap">
              {{msg.content}}
            </div>
            <div *ngIf="msg.content.length >= 25" class="msg">
              {{msg.content}}
            </div>
            <ion-label class="time">{{ msg.createdAt | shortenDate }}</ion-label>
          </div>
          <ion-avatar *ngIf="userMePhoto">
            <ion-img src="{{userMePhoto}}"/>
          </ion-avatar>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="footer">
    <div class="sendbox">
      <ion-input #sendText id="sendText" type="text" placeholder="Send Message..." 
        class="ion-no-padding" (keyup.enter)="goToSend(sendText)"></ion-input>
      <div class="icon">
        <ion-buttons>
          <ion-button (click)="setAttachOpenModal(true)">
            <ion-icon class="attach" name="attach-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="goToSend(sendText)">
            <ion-icon slot="start" name="send-outline" color="dark"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </div>
  </div>
</ion-footer>
