
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Find a Drone
    </ion-title>
    <ion-buttons slot="start" class="ion-padding-start">
      <ion-avatar>
        <img src="assets/images/uss_drone.jpg"/>
      </ion-avatar>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="isSubscriber">
      <ion-button id="startOrder" (click)="onOrder()" fill="solid" color="{{orderColor}}">
        <ion-icon slot="start" name="receipt-outline"></ion-icon>
        {{orderText}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center_div" *ngIf="loading == true">
    <div class="ripple-container">
      <div class="thumb-lg ripple-trigger">
        <img src="../../assets/images/profile.jpg" onError="this.src='profile.jpg'" style="height:100px;width: 100px"
          class="rounded_img b b-2x box-shadow">
      </div>
      <div class="ripple-1"></div>
      <div class="ripple-2"></div>
    </div>
  </div>
  <div>
    <div class="main-content">
      <div #map id="map" class="map"></div>
    </div>
  </div>
</ion-content>
