
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-padding-start">
      <ion-avatar>
        <img src="assets/images/uss_drone.jpg"/>
      </ion-avatar>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="isSubscriber">
      <ion-button id="startEmergency" (click)="isEmergencyModalOpen = true" size="large" fill="solid" color="danger">
          EMERGENCY
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="isSubscriber">
      <ion-button id="startOrder" (click)="onOrder()" size="large" fill="solid" color="{{orderColor}}">
        {{orderText}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center_div" *ngIf="loading == true">
    <div class="ripple-container">
      <div class="thumb-lg ripple-trigger">
        <img src="../../assets/images/profile.jpg" onError="this.src='profile.jpg'" style="height:100px;width: 100px"
          class="rounded_img b b-2x box-shadow">
      </div>
      <div class="ripple-1"></div>
      <div class="ripple-2"></div>
    </div>
  </div>
  <div>
    <div class="main-content">
      <div #map id="map" class="map"></div>
    </div>
  </div>
</ion-content>

<ion-modal [isOpen]="isEmergencyModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="isEmergencyModalOpen = false">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Emergency Call</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="onEmergency()" [strong]="true">Confirm</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
        <h1>This will create an emergency drone security request and call security directly.  Proceed?</h1>
    </ion-content>
  </ng-template>
</ion-modal>
