
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-padding-start">
      <ion-avatar>
        <img src="assets/images/uss_drone.jpg"/>
      </ion-avatar>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="start" name="search-outline" color="dark"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="start" name="ellipsis-vertical-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Chats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-content">

    <div class="heading_div">
      <div class="heading_title">
        <div class="title_div">
          <ion-label class="title">Now Active</ion-label>
        </div>
        <div class="all_btn">
          <ion-label>See All</ion-label>
        </div>
      </div>
    </div>

    <div class="slide_profile">
      <ion-buttons>
        <div *ngFor="let item of activePhotos">
          <ion-button slot="start" [routerLink]="['./profile', item.userId]">
            <img class="img" src={{item.url}}/>
          </ion-button>
      </div>
    </ion-buttons>
  </div>

    <div class="list_card" *ngFor="let item of conversations; ; let i = index" (click)="goToConversation(item.id)">
      <div class="img" [style.backgroundImage]="'url(assets/images/drone-1.png)'"></div>

      <div class="details">
        <div class="flex_row">
          <ion-label *ngIf="item.active == true && item.droneId =='unassigned'" class="title">(Pending) {{item.name}}</ion-label>          
          <ion-label *ngIf="item.active ==true && item.droneId !='unassigned'" class="title">(Active) {{item.name}}</ion-label>          
          <ion-label *ngIf="item.active == false" class="title">(ARCHIVED) {{item.name}}</ion-label>
          <ion-label class="tag">{{item.msgCount}}</ion-label>
        </div>
        <div class="flex_row">
          <ion-label class="text">{{ item.lastUpdatedAt | humanizeDate }}</ion-label>
          <!-- <ion-label class="text">12:26</ion-label> -->
        </div>
      </div>
    </div>
  </div>
</ion-content>
