
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Find a Drone
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="solid">
        <ion-icon slot="start" name="receipt-outline"></ion-icon>
        Order
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="center_div" *ngIf="loading == true">
    <div class="ripple-container">
      <div class="thumb-lg ripple-trigger">
        <img src="../../assets/images/profile.jpg" onError="this.src='profile.jpg'" style="height:100px;width: 100px"
          class="rounded_img b b-2x box-shadow">
      </div>
      <div class="ripple-1"></div>
      <div class="ripple-2"></div>
    </div>
  </div>
  <div>
    <div class="main-content">
      <div #map id="map" class="map"></div>
    </div>
  </div>
</ion-content>
