
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-padding-start">
      <ion-avatar>
        <img src="assets/images/heart.png" />
      </ion-avatar>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="start" name="search-outline" color="dark"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="start" name="ellipsis-vertical-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Chats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-content">

    <div class="heading_div">
      <div class="heading_title">
        <div class="title_div">
          <ion-label class="title">Now Active</ion-label>
        </div>
        <div class="all_btn">
          <ion-label>See All</ion-label>
        </div>
      </div>
    </div>

    <div class="slide_profile">
      <div *ngFor="let item of [1]">
        <div class="img" [style.backgroundImage]="'url(assets/images/profile.jpg)'">
        </div>
      </div>
    </div>

    <div class="list_card" *ngFor="let item of [1,2,3,4,5,6,7]; ; let i = index" (click)="goToMessage({i})">
      <div *ngIf="i == 0" class="img" [style.backgroundImage]="'url(assets/images/profile.jpg)'"></div>
      <div *ngIf="i != 0" class="img" [style.backgroundImage]="'url(assets/images/drone-1.png)'"></div>

      <div class="details">
        <div class="flex_row">
          <ion-label *ngIf="i == 0" class="title">Andrew Russle</ion-label>          
          <ion-label *ngIf="i != 0" class="title">(ARCHIVED) Andrew Russle</ion-label>
          <ion-label class="tag">2</ion-label>
        </div>
        <div class="flex_row">
          <ion-label class="text">Lorem ipsum dolor sit, amet</ion-label>
          <ion-label class="text">12:26</ion-label>
        </div>
      </div>
    </div>
  </div>
</ion-content>
