<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Admin Panel
    </ion-title>
    <ion-buttons slot="start" class="ion-padding-start">
      <ion-avatar>
        <img src="assets/images/uss_drone.jpg"/>
      </ion-avatar>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button id="addItem" (click)="onAddItem()" fill="solid" color="success">
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        Add
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment mode="md" (ionChange)="segmentChanged($event)" padding>
    <ion-segment-button mode="md" value="drone" checked="true" fixed>
      <div class="contentCenter">
        <ion-text slot=end>Drones</ion-text>
      </div>
    </ion-segment-button>


    <ion-segment-button mode="md" value="geo">
      <div class="contentCenter">
        <ion-text slot=end>Geo-Fences</ion-text>
      </div>
    </ion-segment-button>
  </ion-segment>

  <ion-grid *ngIf="segmentTab == 'drone'" class="ion-padding-horizontal">
    <ion-row>
      <ion-col>
       <ion-item lines="none" class="header ion-no-padding">
         <ion-label slot="start">
          <p>Manage Inventory</p>
         </ion-label>
       </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list id="confirm-delete-drone">
          <ion-item-sliding #slidelist *ngFor="let item of drones">
            <ion-item [routerLink]="['./drone', item.id]" lines="none" class="ion-no-padding">
              <ion-avatar slot="start">
                <img src="assets/images/uss_drone.jpg">
              </ion-avatar>
              <ion-label>
                <h2 *ngIf="item.active">(Active) {{ item.name }}</h2>
                <h2 *ngIf="!item.active">(Inactive) {{ item.name }}</h2>
                <p>{{ item.description }}</p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option>
                <ion-button (click)="selectedItem = item.id" id="{{item.id}}" fill="clear" size="small" shape="round" color="danger">
                  <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                </ion-button>
              </ion-item-option>
            </ion-item-options>
            <ion-alert
            trigger="{{item.id}}"
            header="Are you sure?"
            message="This will delete the drone permanently.  A better option may be to deactivate."
            [buttons]="alertButtons"
            (didDismiss)="onDeleteDrone($event)"
          ></ion-alert>          
        </ion-item-sliding>     
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="segmentTab == 'geo'" class="ion-padding-horizontal">
    <ion-row>
      <ion-col>
       <ion-item lines="none" class="header ion-no-padding">
         <ion-label slot="start">
          <p>Manage Domains</p>
         </ion-label>
       </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list id="confirm-delete-geo">
          <ion-item-sliding #slidelist *ngFor="let item of domains">
            <ion-item [routerLink]="['./geo', item.id]" lines="none" class="ion-no-padding">
              <ion-avatar slot="start">
                <img src="assets/images/uss_drone.jpg">
              </ion-avatar>
              <ion-label>
                <h2 *ngIf="item.active">(Active) {{ item.domain }}</h2>
                <h2 *ngIf="!item.active">(Inactive) {{ item.domain }}</h2>
                <p>{{ item.description }}</p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option>
                <ion-button (click)="selectedItem = item.id" id="{{item.id}}" fill="clear" size="small" shape="round" color="danger">
                  <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                </ion-button>
              </ion-item-option>
            </ion-item-options>
            <ion-alert
            trigger="{{item.id}}"
            header="Are you sure?"
            message="This will delete the domain permanently.  A better option may be to deactivate."
            [buttons]="alertButtons"
            (didDismiss)="onDeleteGeo($event)"
          ></ion-alert>          
        </ion-item-sliding>     
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
