<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
    <ion-buttons slot="start" class="ion-padding-start">
      <ion-avatar>
        <img src="assets/images/uss_drone.jpg" />
      </ion-avatar>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onLogout()" fill="clear" size="small" shape="round" color="dark">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-grid *ngIf="user">
    <ion-row>
      <ion-col>
        <div class="profile">
          <ion-avatar>
            <img *ngIf="photo"
              src="{{photo}}"
              alt=""
              srcset=""
            />
            <img *ngIf="!photo"
              src="/assets/icon/avatar.png"
              alt=""
              srcset=""
            />
          </ion-avatar>
          <h4 class="ion-margin-vertical ion-text-nowrap">{{user.username}}</h4>
          <p *ngIf="user.description">
            {{user.description}}
          </p>
          <p *ngIf="!user.description">
            Tell us something about yourself by selecting the About Me button below.
            Also, a photo helps us identify you, so please feel free to add via the Photo button below.
          </p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="borders">
      <ion-col size="4" class="ion-no-padding">
        <h5>{{user.chatCount}}</h5>
        <p>Escorts</p>
      </ion-col>
      <ion-col size="4" class="ion-no-padding">
        <h5>{{user.textCount}}</h5>
        <p>Texts</p>
      </ion-col>
      <ion-col size="4" class="ion-no-padding">
        <h5>{{user.imageCount}}</h5>
        <p>Photos</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="ion-padding-vertical">
          <ion-button (click)="takePicture()" class="action-button" expand="block" fill="solid" color="primary">
            <ion-icon slot="start" name="camera"></ion-icon>
            <span>Photo</span>
        </ion-button>
      </ion-col>
      <ion-col size="6" class="ion-padding-vertical">
        <ion-button (click)="isDescModalOpen = true" class="action-button" expand="block"  fill="solid" color="primary">
          <ion-icon slot="start" name="body-outline"></ion-icon>
          <span>About Me</span>
      </ion-button>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col class="ion-no-padding">
        <ion-item lines="none" class="section">
          <ion-text color="dark">
            <h5>Photos</h5>
          </ion-text>
          <ion-buttons slot="end">
            <ion-button
            slot="end"
            fill="clear"
            size="small"
            shape="round"
            color="medium"
            class="small-button"
          >
            <ion-icon slot="icon-only" name="list-outline"></ion-icon>
          </ion-button>
          <ion-button
            slot="end"
            fill="clear"
            size="small"
            shape="round"
            color="medium"
            class="small-button"
          >
            <ion-icon slot="icon-only" name="grid-outline"></ion-icon>
          </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col size="4" *ngFor="let photo of photos">
        <img class="image-element" [src]="photo" alt="">
      </ion-col>
    </ion-row> -->
  </ion-grid>
<!-- Set description modal-->
  <ion-modal [isOpen]="isDescModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="isDescModalOpen = false">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Description</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setDescription(desc)" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
          <ion-textarea #desc
            rows="10"
            label="Tell us about yourself"
            labelPlacement="floating"
            fill="solid"
            type="text"
            spellcheck="true"
            value="{{user.description}}"
            >
          </ion-textarea>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

